<?xml version="1.0" encoding="UTF-8"?>

<phpunit syntaxCheck="true"
         bootstrap="./vendor/autoload.php"
        >

    <testsuites>
        <testsuite name="FacebookTestuserBundle Test Suite">
            <directory suffix="Test.php">./Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="false"/>
    </logging>

</phpunit>
